.lp-div-1 {
    background-color: antiquewhite;
    width: 40%;
    align-self: center;
    flex-direction: column;
    margin: auto;
    border-radius: 4%;

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.lp-div-img{
display: flex;

}

.lp-div-title{

}