.pl-div-1{
    background-color: aquamarine;
    width: 40%;
    align-self: center;
    flex-direction: column;
    margin: auto;
    border-radius: 0%;

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.pl-div-total-products{
    border: 1px;
    border-bottom: solid;
    border-color: white;
    margin: 0 auto;
}

.pl-div-products-dt{
    border-bottom: solid;
    border: 1px;
    border-color: black;
}