.tu-div-1{
    margin: auto;
    border-radius: 4%;
   
    width: 90%;
    justify-content: center;
    align-items: center;

}


.tu-div-img{
    margin: 0px;
    

}
.tu-title{
    justify-content: center;
    margin:auto;
    color: white;

}
.tu-allusers{
    align-self: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;

    
}
.tu-users{
    margin: auto;
    border: solid;
    width: 30%;
    background-color: antiquewhite;
    padding: 10px;
}

.tu-div-img{
    max-height: 40px;
    align-items: center;
    margin-bottom: 4px;
}
